// Commons
@use "common/" as *;

@import "components/";

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $ff-standard;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100svh;
}

body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $background;
  color: $color;
  overflow: auto;
}

#background {
  position: relative;
  background-image: url("/assets/img/background_image/background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.background-projects,
.background-about,
.background-projects-content {
  background-image: url("/assets/img/Projects/hutao_cool.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 100px;
}

.background-about {
  background-image: url("/assets/img/About/ryo-city.jpg");
  background-attachment: fixed;
}

#title {
  text-align: center;
  padding: 80px;

  h1 {
    font-size: 2.5rem;
  }
}

header {
  position: relative;
  z-index: 1;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-weight: 500;
    padding: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;

      gap: 20px;

      a {
        position: relative;
        color: white;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          width: 20%;
          height: 1.5px;
          background-color: white;
          bottom: -1px;
          left: 0;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  div {
    content: "";
    position: absolute;
    top: 8px;
    right: 1.3rem;
    width: 40px;
    height: 40px;

    img {
      width: 45px;
      height: auto;
    }
  }
}

.main {
  @include flex;
  flex: 1;
  height: 100%;

  section {
    @include flex($justifyContent: space-between);

    background-color: $surface2;
    border-radius: 25px;
    padding: 40px 80px;
    gap: 20px;
    backdrop-filter: blur(15px);

    animation: scaleIn 0.8s cubic-bezier(0.28, -0.2, 0.55, 1.35);
  }

  @keyframes scaleIn {
    from {
      transform: scale(0);
      backdrop-filter: blur(0);
    }
    to {
      transform: scale(1);
    }
  }

  .pfp-image {
    overflow: hidden;
    margin-right: 30px;
    border: 4px solid $border;
    border-radius: 100%;

    img {
      display: block;
      width: 256px;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .menu {
    color: $color;

    h1 {
      font-size: 36px;
      font-weight: bold;

      span {
        color: $accent-color;
      }
    }

    p {
      line-height: 1.5rem;
    }

    ul {
      display: flex;
      list-style: none;
      margin-top: 25px;
      gap: 15px;

      li {
        transition: all 0.3s ease-in-out;

        i {
          color: $color;
        }

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  z-index: 1;

  p {
    background-color: $surface2;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(20px);

    a {
      color: $accent-color;

      &:not(:hover, :focus) {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .main section {
    flex-direction: column;

    .pfp-image {
      margin-right: 0;
    }

    .menu ul {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 550px) {
  .main section {
    padding: 20px 25px;

    .pfp-image img {
      width: 200px;
    }

    .menu {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
