* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-color: #262626;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.navbar-hearder {
    padding: 15px;
}

.navbar-brand {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

main.container {
    margin-top: 30px;
    background-color: #262626;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Index */
.start-menu > h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.start-menu > p {
    color: #ffffff;
    text-align: center;
}

.start-menu > img {
    width: 250px;
    height: 250px;
    border-radius: 117px;
    border: 6px solid rgba(152, 152, 255, 0.332);
}

.start-menu > a {
    font-weight: 800;
    font-size: 22px;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(108, 108, 253);
    text-decoration-thickness: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    transform-origin: right;
}

/* About */

.about-me > img.wallpaper {
    width: 50vw;
    height: 50vh;
    border-radius: 15px;
}

.about-me > h1, h2, p {
    color: white;
}

.about-me > h1 {
    font-size: 2.5em;
    text-decoration: underline;
    margin-top: 50px;
}

.about-me > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-me > h2 {
    font-size: 2em;
    margin-top: 50px;
}

.about-me > a, img.brother-rovier, img.friend-celvet {
    width: 9vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about-me > img.friend-celvet {
    margin-bottom: 50px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 2.5px;
    margin: auto    ;
}

.github-list {
    list-style-type: none;
    margin-left: 25px;
    margin-right: 23px;
}

.twitter-list, .youtube-list {
    margin-right: 25px;
}