@use "../common/" as *;

.background-about {
  background-image: url("/assets/img/About/ryo_machine.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.main-about {
  margin: 30px 200px;

  h1 {
    font-size: 2rem;
  }

  h2 {
    margin: 20px 0;
  }

  p {
    margin: 16px 0;
  }

  .interests {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 15px;

      li {
        background-color: $surface1-semi-transparent;
        border-left: 4px solid $accent-color;
        color: $color;
        padding: 6px;
        border-radius: 7px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  #tech {
    @include flex;
    flex-wrap: wrap;

    @keyframes slideIn {
      from {
        transform: translateX(1000%);
      }
      to {
        transform: translateX(0);
      }
    }

    a {
      background-color: $surface1;
      color: $color;
      border-bottom: 5px solid $accent-color;
      border-radius: 7px;
      margin: 10px 10px;
      padding: 10px;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;

      @include slideInAnimation(1s, 0.2s, 5);

      &:hover {
        background-color: $surface1-semi-transparent;
      }

      h3 {
        text-align: center;
      }

      img {
        width: 68px;
        height: 68px;
      }
    }
  }

  .projects-about {
    @include flex($flexDirection: column);
    margin-top: 35px;

    a {
      text-decoration: none;
      margin: 5px 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-4px);
      }
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  #friends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    a {
      padding: 5px;
    }

    img {
      width: 68px;
      height: 68px;
      border-radius: 100%;
      border: 2px solid $border;

      &:hover {
        border-color: $border2;
        box-shadow: $box-shadow;
      }
    }
  }
}

#title {
  text-align: center;
  padding: 80px;

  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .main-about {
    margin-left: 21px;
    margin-right: 21px;
  }

  #friends {
    justify-content: center;
  }
}
