@use "../common/" as *;

.padding-contents {
  padding-left: 2rem;
}

.author-image {
  @include flex(center, center, column);

  & span {
    font-size: 1.3em;
    color: #7f849c;
    margin-bottom: 70px;
    font-weight: 700;
  }

  & img {
    margin: 20px 0 20px 0;
    width: 80px;
    border: 5px solid rgba(152, 152, 255, 0.332);
    border-radius: 155px;
  }
}

.personal-projects {
  @include flex(center, center, column);
  text-align: justify;

  & .wallpaper {
    padding: 3em;
    width: 70%;
    border-radius: 65px;
  }

  & .contents {
    margin-right: 80px;

    & li {
      list-style-type: disc;
      line-height: 1.5rem;
      color: $secondary-color;
    }

    & li a {
      --_link-color: var(--link-color, #faff93);
      font-weight: 700;
      text-decoration: none;
      color: var(--_link-color);
    }

    .ryo__color {
      --link-color: rgb(145, 152, 255);
    }

    .kita__color {
      --link-color: #ff8787;
    }

    & li a:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    & li ul .list-type__circle {
      list-style-type: circle;
    }
  }

  & .examples {
    padding: 1.5em;
    width: 70%;
    border-radius: 30px;
  }

  .information {
    color: rgb(79, 79, 79);
    margin: 0 0 10px 70px;
    border-left: 6px solid rgba(79, 79, 79, 0.332);
  }

  & .left {
    padding: 3px 0 15px 0;
    width: 70%;
  }

  & ul {
    list-style-type: none;
    width: 47%;
  }

  & .issues-pull {
    list-style-type: disc;

    li {
      color: $secondary-color;
    }

    a {
      --_link-color: var(--link-color, #faff93);

      color: var(--_link-color);
      font-weight: 600;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .ryo__color {
      --link-color: rgb(145, 152, 255);
    }

    .kita__color {
      --link-color: #ff8787;
    }

    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  & .app-logo {
    width: 30svw;
    border-radius: 20px;
    margin-top: 40px;
  }

  h2,
  h3 {
    color: $secondary-color;
    padding: 2rem 0 2rem 0;
    margin-top: 45px;
  }

  & p {
    color: $secondary-color;
    width: 65%;
    text-align: justify;
    padding: 1rem;
  }

  & code {
    background-color: $cinza-code;
    border-radius: 8px;
    width: 55%;

    & p {
      color: $ryo-color-light;
      text-align: justify;
      font-size: 0.9rem;
      width: 100%;
    }
  }

  video {
    width: 92%;
    border-radius: 10px;
  }
}

.github-logo-img {
  width: 60px;
}

.margem-logo {
  margin-top: 60px;
}

@media screen and (width >= 1000px) {
  p {
    font-size: 1.2rem;
  }

  video {
    max-width: 70%;
  }
}

@media screen and (width <= 1000px) {
  .personal-projects {
    & code {
      width: 470px;
    }
  }
}

@media screen and (width <= 505px) {
  .personal-projects {
    & code {
      width: 93%;
    }

    & code p {
      padding-left: 6px;
      font-size: 0.7rem;
    }
  }
}
