@use "../common/" as *;

.main-components {
  .project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .project-card {
    width: 390px;
    height: auto;

    background-image: url("/assets/img/Projects/banners/nijika-wallpaper.jpg");
    background-color: $surface1;
    background-size: cover;
    background-position: center top;
    background-position-y: -12px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;

    text-decoration: none;
    border: 2px solid $border;
    border-radius: 13px;
    color: $color;
    margin: 10px;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba($surface1, 0.75);
      box-shadow: 0 0 12px black;
    }

    h2,
    p {
      margin: 0;
      font-size: 20px;
    }

    p,
    span {
      font-size: 14px;
      margin-top: 5px;
    }

    span {
      margin-top: 15px;
    }

    div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 15px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .main-components {
    margin-left: 21px;
    margin-right: 21px;
  }
}
