@use "../common/" as *;

.main-project-content {
  display: flex;

  p {
    margin: 15px 0;
  }

  h2 {
    margin: 10px 0;
  }

  .content {
    flex: 1;
    padding: 20px 50px;

    .issues-pull {
      font-weight: 700;
      margin: 25px 0;
      padding-left: 50px;

      a {
        color: $accent-color;
        text-decoration-thickness: 2px;

        &:not(:hover, :focus) {
          text-decoration: none;
        }
      }
    }

    .information {
      border-left: 3px solid $info;
      color: $info;
      padding: 5px;
      padding-left: 15px;
      margin-left: 20px;

      &__note {
        margin: 25px 0;
        border-color: $accent-color;
        color: $color;

        h3 {
          font-weight: 600;
          color: $accent-color;
        }

        p {
          margin: 0;
          margin-top: 7px;
        }
      }
    }

    .github-logo-link {
      display: flex;
      justify-content: center;
      margin: 20px 0;

      a {
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-3px);
        }
      }

      img {
        width: 60px;
      }
    }

    .code-container {
      display: flex;
      margin: 30px 0;

      pre {
        margin: 0;
        width: 40%;
        word-wrap: normal;
        overflow-x: auto;
        border-radius: 5px;
        padding: 15px;
        background-color: $surface2;
      }

      code {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }

    .app-logo {
      display: flex;
      justify-content: center;

      img {
        width: 300px;
        margin: 20px 0;
        border-radius: 20px;
      }
    }

    .examples {
      display: flex;
      justify-content: center;

      margin: 20px 0;

      img {
        border-radius: 7px;
        width: 65%;
        height: auto;
      }
    }

    .video-container {
      display: flex;
      justify-content: center;

      video {
        margin: 30px 0;
        width: 65%;
        height: auto;
        border-radius: 7px;
      }
    }

    .back {
      display: flex;
      justify-content: center;

      a {
        background-color: $surface1;
        color: $color;
        padding: 10px;
        text-decoration: none;
        border-radius: 7px;
        margin: 25px 0;
        font-weight: 700;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: $surface1-semi-transparent;
        }
      }
    }
  }

  .contents-table {
    position: sticky;
    top: 2rem;

    width: 180px;
    height: fit-content;

    margin-top: 30px;
    padding: 0 20px;
    border-left: 1px solid $border;

    h2 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    ul {
      line-height: 1.75rem;
      list-style: none;
      font-size: 16px;

      .table-hover {
        position: relative;
        display: inline-block;
        padding-left: 15px;
        text-decoration: none;
        color: $color;
        font-weight: 500;
        transition: all 0.7s ease-in-out;
      }

      .table-hover::before {
        content: "#";
        position: absolute;
        left: 0;
        opacity: 0;
        font-weight: bold;
        color: $border;
        transition: opacity 0.3s ease;
      }

      .table-hover:hover::before {
        opacity: 1;
      }

      ul {
        margin-top: 0;
        padding-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main-project-content {
    p {
      font-size: 14px;
    }

    .content {
      padding: 10px 12px;

      .app-logo img {
        width: 200px;
      }

      .examples {
        img {
          width: 90%;
        }
      }

      .video-container {
        video {
          width: 90%;
        }
      }
    }

    .contents-table {
      display: none;
    }
  }
}
