$background: #1f1f1f;
$surface1: #303030;
$surface1-semi-transparent: #303030aa;
$surface2: rgba(36, 43, 57, 0.75);
$color: #e8e4f5;
$accent-color: #3c5ac9;
$border: rgba(205, 199, 229, 0.5);
$border2: #ff9d9c;
$box-shadow: 0 5px 10px #ff9d9c88;
