h3 {
  margin-top: 30px;
  color: var(--secondary-color);
}

.author-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.author-image span {
  font-size: 1.3em;
  color: #7f849c;
  margin-bottom: 70px;
  font-weight: 700;
}

.author-image img {
  margin: 20px 0 20px 0;
  width: 80px;
  border: 5px solid rgba(152, 152, 255, 0.332);
  border-radius: 155px;
}

.personal-projects .wallpaper,
.personal-projects .examples {
  padding: 3em;
  width: 60vw;
  border-radius: 65px;
}

.personal-projects .examples {
  padding: 1.5em;
  border-radius: 30px;
}

.personal-projects .information {
  color: rgb(79, 79, 79);
  padding-left: 10px;
  margin-bottom: 10px;
  border-left: 6px solid rgba(79, 79, 79, 0.332);
  border-radius: 5px;
}

.personal-projects .left {
  padding: 3px 0 15px 0;
  width: 57%;
}

.personal-projects ul {
  list-style-type: none;
  width: 47%;
}

.personal-projects .issues-pull {
  list-style-type: disc;
}

.issues-pull li {
  color: white;
}

.issues-pull a {
  color: var(--ryo_color);
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: none;
}

.issues-pull a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.personal-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wallpaper,
.app-logo,
.github-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-projects .app-logo {
  width: 30vw;
  border-radius: 20px;
}

.personal-projects h2 {
  color: white;
  padding: 2em 0 2em 0;
  margin-top: 45px;
}

.personal-projects p {
  color: white;
  width: 57%;
  text-align: justify;
  padding: 1em;
}

.personal-projects code {
  text-align: justify;
  width: 50%;
}

.personal-projects code {
  background-color: var(--cinza-code);
  border-radius: 8px;
}

.personal-projects code p {
  color: var(--ryo-color-light);
  font-size: 1.2em;
  width: 100%;
}

.github-logo-img {
  width: 60px;
}

.margem-logo {
  margin-top: 60px;
}