@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@font-face {
  font-family: "ThunderInferno";
  src: url(/fonts/ThunderInferno.otf) format("opentype");
}

:root {
  --ryo_color: rgb(145, 152, 255);
  --cinza: rgb(75, 74, 74);
  --cinza-code: rgb(43, 44, 49);
  --secondary-color: #fff;
  --ryo-color-light: rgb(202, 205, 255);
  --button-color: #2d2b2b;
  --button-color-hover: #4c4949;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #262626;
}

video {
  width: 700px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2% 32% 0% 32%;
  padding: 2em;
  background-color: #1e1d1d;
  border-radius: 15px;
}

.container-fluid {
  padding: 0 15px 0 15px;
  margin: 15px auto 0 auto;
}

.nav-bar a {
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  color: var(--secondary-color);
}

.nav-bar a:hover {
  color: var(--ryo-color-light);
}

#title {
  font-weight: 700;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Index */

.guide-menu img {
  width: 250px;
  border: 7px solid rgba(152, 152, 255, 0.332);
  border-radius: 155px;
  transition: transform 1s ease;
}

.guide-menu img:hover {
  transform: rotate(360deg);
}

.guide-menu h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.guide-menu p {
  text-align: center;
  font-size: 1em;
  margin-bottom: 1.4em;
  color: var(--cinza);
}

.pages a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.2em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 800;
  color: white;
}

.pages a:hover {
  color: #b0abab;
}

.pages .page-about {
  margin-top: 10px;
}

/* About */

.pages-container {
  margin: 5%;
  margin-top: 55px;
}

.biography {
  color: white;
  padding: 2em;
}

.biography .author-color {
  color: var(--ryo_color);
}

.interests {
  margin-left: 30px;
}

.interests h2 {
  margin: 8px 0 8px 0;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

.interests ul {
  --ryo_color: rgb(184, 189, 255);
  margin-left: 15px;
  color: var(--ryo_color);
}

.interest-title {
  padding-top: 17px;
  margin-left: 5px;
  color: white;
}

.about-friends h2 {
  padding: 1.5em 0 0.7em 0;
  font-size: 2em;
  color: white;
}

.about-friends ul {
  list-style-type: none;
}

.about-friends .friends-link {
  font-size: 1.3em;
  font-weight: 400;
  padding: 7px;
  text-decoration: none;
  color: var(--ryo_color);
}

.about-friends .friends-link:hover {
  color: #a19c9c;
  text-decoration: underline;
}

.projects-section {
  text-align: center;
  color: white;
  padding: 3em;
}

.projects-section img {
  margin-top: 25px;
  width: 100px;
}

.favorite-anime,
.favorite-game {
  padding: 2em;
  color: white;
}

.favorite-anime p,
.favorite-game p {
  margin-top: 20px;
}

.favorite-anime a,
.favorite-game a {
  color: var(--ryo_color);
  font-weight: 700;
  text-decoration: none;
}

.favorite-anime a:hover,
.favorite-game a:hover {
  color: #a19c9c;
  font-weight: 700;
  text-decoration: underline;
}

/* Links */

.friends #title {
  font-family: "ThunderInferno", serif;
  text-decoration: underline;
}

.friends .wallpaper {
  padding: 3em;
  width: 45vw;
  border-radius: 65px;
}

.friends h1 {
  margin-bottom: 20px;
}

.friends h2 {
  margin-top: 20px;
}

.friends h2,
h1 {
  color: white;
}

.friends p {
  color: var(--cinza);
}

.friends a,
.brother-rovier,
.friend-celvet {
  width: 10vw;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.friends a:hover,
.brother-rovier:hover,
.friend-celvet:hover {
  transform: scale(1.1);
  border-radius: 70px;
}

/* Projects */

.container-nijika {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0 5% 0 5%;
  background-color: #222222;
  border-radius: 15px;
  transition: transform 0.5s ease;
  margin-bottom: 25px;
}

.container-nijika:hover {
  transform: scale(1.1);
}

.nijika-left a {
  text-decoration: none;
}

.nijika-left p {
  color: white;
  padding-top: 2em;
}

.nijika-left h1:hover {
  color: var(--ryo_color);
}

.nijika-right img {
  padding-left: 2em;
  width: 300px;
  border-radius: 35px;
}

/* Social Medias */

.social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.social-media li {
  margin-left: 20px;
  margin-right: 10px;
}

.social-media li a i::before {
  color: rgb(191, 191, 191);
}

.social-media li a:hover i::before,
.social-media li a:hover i::after {
  color: rgb(231, 230, 230);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.go-back {
  padding: 0.7em;
  text-decoration: none;
  font-weight: 700;
  color: var(--ryo-color-light);
  border-radius: 10px;
  background-color: var(--button-color);
  transition: backgroun-color 0.3s ease;
}

.go-back:hover {
  background-color: var(--button-color-hover);
}
